@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

header {
    z-index: 6;
    position: fixed;
    background-color: #55372e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    position: relative;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.submenu {
    min-width: 120px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #55372e;
    padding: 10px;
    z-index: 1;
}

.submenu a {
    white-space: nowrap;
}

.submenu a:hover {
    background-color: #ffffff;
    color: #333;

}

.menu:hover .submenu {
    display: block;
}

body {
    background-image: url(imagenes/fondoPantallaInicio.jpeg);

}

.container {
    padding: 10px;
}

.row {
    margin-top: 2%;
    margin-bottom: 2%;
}

#row1,
#row2,
#row3 {
    transition: padding 0.5s ease;
}

#row1:hover,
#row2:hover,
#row3:hover {
    padding: 7%;
}

#row1 {
    border-radius: 30px;
    padding: 5%;
    background-color: #c8ab7ce3;
    ;
    width: 100%;
}

#row1 img {
    border-radius: 30px;
    padding: 5%;
    width: 100%;
    height: 100%;
}

#row1 h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}

#row2 {
    align-items: center;
    border-radius: 30px;
    padding: 5%;
    background-color: #c8ab7ce3;
    ;
    width: 100%;
}

#c1 {
    text-align: center;
    background-color: #634400d9;
    color: black;
    border: 2px solid black;
}

#c2 {
    text-align: center;
    background-color: #634400d9;
    color: black;
    border: 2px solid black;
}

#c3 {
    text-align: center;
    background-color: #634400d9;
    color: black;
    border: 2px solid black;
}

.col {
    text-align: center;
    color: black;
    border: 1px solid black;
}

#row2 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#row2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#row2 h1 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

#row3 {
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding: 5%;
    background-color: #c8ab7ce3;
    ;
    width: 100%;
}

#row3 h1 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#row3 img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

#row4 {

    align-items: center;
}

#calendario {
    color: rgb(0, 0, 0);
    background-color: #f0f0f0;
    padding: 3%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1%;
    border-radius: 15px;
    transition: padding 0.3s ease;
}

#calendario:hover {
    padding: 3%;
}

#calendario button {
    border-radius: 10px;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #b78f58;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s;
    box-shadow: 3px 3px 5px 0px #333;
}

#calendario button:hover {
    background-image: linear-gradient(to right, #b78f58, #90643e);
}

button {
    padding: 10px 20px;
    background-color: #b78f58;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px #333;
}

button:last-child {
    margin-right: 0;
}

.contenedorForm button {
    border-radius: 15px;
    border: none;
    transition: padding 0.3s, border-radius 0.3s, background-color 0.4s;
}

.contenedorForm button:hover {
    border-radius: 25px;
    background-image: linear-gradient(to right, #b78f58, #90643e);

    padding: 1%;
}

form {
    text-align: left;
}

textarea {
    width: 50%;
    height: 150px;
    border: none;
    border-radius: 10px;
    transition: width 0.3s;
}

textarea:focus {
    width: 60%;
}

label {
    color: black;
    margin-bottom: 10px;

}

.bn30 {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: rgb(7, 7, 7);
}

.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #ffffff;
}

.bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.containerVacaciones h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#solicitudes-table {
    width: 100%;
    border-collapse: collapse;

}

#solicitudes-table th,
#solicitudes-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    /* Cursor apunta al hacer clic en una fila */
}

#solicitudes-table th {
    background-color: #f0f0f0;
}

.Contenido-Filtro {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 10px;
}


.Contenido-Filtro button {
    border-radius: 15px;
    border: none;
    transition: padding 0.5s, border-radius 0.3s, background-color 0.4s;
    box-shadow: 3px 3px 5px 0px #333;
}

.Contenido-Filtro button:hover {
    border-radius: 25px;
    background-image: linear-gradient(to right, #b78f58, #90643e);
    padding: 2%;
}


.Contenido-Filtro select,
.Contenido-Filtro button {
    margin-left: 10px;
}
.container h1{
    font-size: 22px;
    margin-top: 0%;
}
.contenedorForm input{
    width: 14%;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
}

#alert-message {
    font-size: 18px;
    margin-bottom: 10px;
}

#close-alert {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.hidden {
    display: none;
}